## 12 - Projet Guidé: Préparation de données pour SQLite (Bonus Python)

### 12.1 - Decouverte du dataset

In [96]:
import pandas as pd
import sqlite3

df = pd.read_csv("databases/academy_awards.csv", encoding = "ISO-8859-1")

In [97]:
df.tail()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
10132,1927/28 (1st),Engineering Effects (archaic category),Roy Pomeroy,Wings,YES,NaN,NaN,NaN,NaN,NaN,NaN
10133,1927/28 (1st),Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN
10134,1927/28 (1st),Unique and Artistic Picture (archaic category),Fox,Sunrise,YES,NaN,NaN,NaN,NaN,NaN,NaN
10135,1927/28 (1st),Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,NO,NaN,NaN,NaN,NaN,NaN,NaN
10136,1927/28 (1st),Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,NO,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 discoverer of stars                                                                                            1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 resilience                                                                                                     1
Name: Unnamed: 5, dtype: int64

In [99]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
 flexibility and water resistance                                   1
Name: Unnamed: 6, dtype: int64

In [100]:
df['Unnamed: 7'].value_counts()

 kindly                                               1
*                                                     1
 while requiring no dangerous solvents. [Systems]"    1
Name: Unnamed: 7, dtype: int64

In [101]:
df['Unnamed: 8'].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [102]:
df['Unnamed: 9'].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [103]:
df['Unnamed: 10'].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [104]:
df.shape

(10137, 11)

### 12.2 - Filtrer les données

In [105]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [106]:
# pour récupérer les 4 premiers éléments de la colonne Year, 
# on utilise la méthode str
df['Year'] = df['Year'].str[0:4]

In [107]:
df['Year'].dtypes

dtype('O')

In [146]:
# On utilise la méthode astype pour changer le type de df
df['Year'] = df['Year'].astype(int)

In [147]:
df['Year'].dtypes

dtype('int64')

In [148]:
# filter les années
later_than_2000 = df[df['Year'] > 2000]

In [149]:
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
later_than_2000.shape

(1294, 11)

In [151]:
# Actor -- Leading Role
# Actor -- Supporting Role
# Actress -- Leading Role
# Actress -- Supporting Role
award_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role',
                   'Actress -- Leading Role', 'Actress -- Supporting Role']

In [152]:
# Filtre les 4 catégories ci-dessus avec la méthode isin()
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [153]:
nominations.shape

(200, 11)

### 12.3 - Nettoyer les colonnes Unnamed et Won?

In [154]:
# dictionnaire de remplacement 
replacements = {"NO":0, "YES":1}

In [155]:
nominations["Won"] = nominations["Won?"].map(replacements)

/Users/moustaphakinty/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN,0

In [157]:
# colonnes à supprimer
drop_cols = ["Won?", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

In [158]:
# supprimer les colonnes à supprimer dans le dataset final
final_nominations = nominations.drop(drop_cols, axis=1)

In [159]:
final_nominations.tail()

,Year,Category,Nominee,Additional Info,Won
1172,2001,Actress -- Supporting Role,Jennifer Connelly,A Beautiful Mind {'Alicia Nash'},1
1173,2001,Actress -- Supporting Role,Helen Mirren,Gosford Park {'Mrs. Wilson'},0
1174,2001,Actress -- Supporting Role,Maggie Smith,"Gosford Park {'Constance, Countess of Trentham'}",0
1175,2001,Actress -- Supporting Role,Marisa Tomei,In the Bedroom {'Natalie Strout'},0
1176,2001,Actress -- Supporting Role,Kate Winslet,Iris {'Young Iris Murdoch'},0

### 12.4 - Nettoyage de la colonne Additionnal Info

In [160]:
# FILM {'PERSONNAGE'}

# Par exemple
# A Beautiful Mind {'Alicia Nash'}
# Gosfor Park {'Mrs. Wilson'}

In [161]:
# On utilise la methode str.rstrip
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [162]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [163]:
# O utilise la methode split pour séparer film et personnage
additional_info_two = additional_info_one.str.split(" {'", expand = True)

In [164]:
additional_info_two.tail()

                     0                                1
1172  A Beautiful Mind                      Alicia Nash
1173      Gosford Park                      Mrs. Wilson
1174      Gosford Park  Constance, Countess of Trentham
1175    In the Bedroom                   Natalie Strout
1176              Iris               Young Iris Murdoch

In [165]:
movie_nammes = additional_info_two[0]

In [166]:
movie_nammes.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [167]:
characters = additional_info_two[1]

In [168]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [169]:
final_nominations['Movie'] = movie_nammes
final_nominations['Character'] = characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [170]:
final_nominations.drop(['Additional Info'], axis=1, inplace=True)
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

### 12.5 - Exporter vers SQLite

In [171]:
# to_sql [name, connexion]

In [174]:
final_nominations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 1176
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       200 non-null    int64
 1   Category   200 non-null    object
 2   Nominee    200 non-null    object
 3   Won        200 non-null    int64
 4   Movie      200 non-null    object
 5   Character  200 non-null    object
dtypes: int64(2), object(4)
memory usage: 10.9+ KB

In [175]:
connexion = sqlite3.connect('databases/nominations.db')

In [177]:
final_nominations.to_sql('nominations', connexion, index = False)